/* BackLink.css */
.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #2a7f4f;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
  }

  .back-link svg {
    margin-right: 5px;
  }
