/* VideoPage.css */
.video-page {
  background-color: #1d2c29;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  height: 100vh; /* Define a altura da página */
  margin: 0; /* Remove margens padrão do body */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }

  .video-container {
    max-width: 800px;
    margin: 0 auto;
  }
